In [23]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [24]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Svetlogorsk,BY,2022-09-20 16:01:55,52.6333,29.7333,50.41,77,83,4.41
1,1,Rikitea,PF,2022-09-20 16:01:55,-23.1203,-134.9692,72.82,73,0,14.41
2,2,Butaritari,KI,2022-09-20 16:01:55,3.0707,172.7902,80.64,74,100,7.72
3,3,Barrow,US,2022-09-20 16:01:56,71.2906,-156.7887,30.22,93,40,6.91
4,4,Punta Arenas,CL,2022-09-20 16:01:56,-53.1500,-70.9167,44.11,65,100,11.61

In [32]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [45]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [47]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [48]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [49]:
# Heatmap of wind speeds
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [51]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Butaritari,KI,2022-09-20 16:01:55,3.0707,172.7902,80.64,74,100,7.72
8,8,Peniche,PT,2022-09-20 16:01:57,39.3558,-9.3811,84.07,77,2,6.96
15,15,Kapaa,US,2022-09-20 16:01:59,22.0752,-159.3190,76.10,79,100,3.00
16,16,Samarai,PG,2022-09-20 16:02:00,-10.6167,150.6667,80.04,85,100,11.74
19,19,Namwala,ZM,2022-09-20 16:02:01,-15.7504,26.4384,85.24,36,89,9.10
21,21,Port-Gentil,GA,2022-09-20 16:02:02,-0.7193,8.7815,82.36,69,40,13.80
22,22,Ribeira Grande,PT,2022-09-20 16:02:02,38.5167,-28.7000,79.20,78,20,10.36
25,25,Culebra,PR,2022-09-20 16:02:04,18.3030,-65.3010,86.04,78,100,15.35
26,26,Qui Nhon,VN,2022-09-20 16:02:04,13.7667,109.2333,77.36,91,100,7.07
27,27,Atuona,PF,2022-09-20 16:02:05,-9.8000,-139.0333,76.73,77,32,22.84

In [52]:
preferred_cities_df.count()

City_ID       211
City          211
Country       209
Date          211
Lat           211
Lng           211
Max Temp      211
Humidity      211
Cloudiness    211
Wind Speed    211
dtype: int64

In [53]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
2       Butaritari      KI     80.64   3.0707  172.7902
8          Peniche      PT     84.07  39.3558   -9.3811
15           Kapaa      US     76.10  22.0752 -159.3190
16         Samarai      PG     80.04 -10.6167  150.6667
19         Namwala      ZM     85.24 -15.7504   26.4384
21     Port-Gentil      GA     82.36  -0.7193    8.7815
22  Ribeira Grande      PT     79.20  38.5167  -28.7000
25         Culebra      PR     86.04  18.3030  -65.3010
26        Qui Nhon      VN     77.36  13.7667  109.2333
27          Atuona      PF     76.73  -9.8000 -139.0333

In [54]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [60]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [63]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Butaritari,KI,80.64,3.0707,172.7902,Isles Sunset Lodge
8,Peniche,PT,84.07,39.3558,-9.3811,Hotel Star inn Peniche
15,Kapaa,US,76.10,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
16,Samarai,PG,80.04,-10.6167,150.6667,Nuli Sapi
19,Namwala,ZM,85.24,-15.7504,26.4384,Corner Point Lodge
21,Port-Gentil,GA,82.36,-0.7193,8.7815,Fengshui Residence
22,Ribeira Grande,PT,79.20,38.5167,-28.7000,Quinta da Meia Eira
25,Culebra,PR,86.04,18.3030,-65.3010,Palmetto Guesthouse
26,Qui Nhon,VN,77.36,13.7667,109.2333,Seagull Hotel
27,Atuona,PF,76.73,-9.8000,-139.0333,Villa Enata

In [64]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [65]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [66]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))