## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Preobrazheniye,RU,42.9019,133.9064,48.96,52,0,4.90,clear sky
1,1,Huarmey,PE,-10.0681,-78.1522,65.03,76,28,13.62,scattered clouds
2,2,Renfrew,GB,55.8720,-4.3925,58.51,80,100,4.61,overcast clouds
3,3,Tuktoyaktuk,CA,69.4541,-133.0374,44.60,93,100,8.05,light rain
4,4,Atuona,PF,-9.8000,-139.0333,76.41,76,30,19.98,light rain

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Atuona,PF,-9.8000,-139.0333,76.41,76,30,19.98,light rain
10,10,Kapaa,US,22.0752,-159.3190,87.78,68,20,12.66,few clouds
17,17,Omboue,GA,-1.5746,9.2618,76.06,81,100,6.17,overcast clouds
19,19,Clinton,US,42.5870,-82.9199,78.82,58,75,14.97,broken clouds
23,23,Pacifica,US,37.6138,-122.4869,79.74,69,75,6.91,broken clouds
27,27,Hithadhoo,MV,-0.6000,73.0833,81.34,71,10,4.92,clear sky
28,28,Hilo,US,19.7297,-155.0900,85.28,62,20,5.99,few clouds
30,30,Kavieng,PG,-2.5744,150.7967,82.49,74,93,9.40,overcast clouds
34,34,Matay,EG,28.4190,30.7792,78.22,49,0,12.53,clear sky
35,35,Makakilo City,US,21.3469,-158.0858,86.32,51,20,17.27,light intensity drizzle

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                210
City                   210
Country                210
Lat                    210
Lng                    210
Max Temp               210
Humidity               210
Cloudiness             210
Wind Speed             210
Current Description    210
dtype: int64

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Atuona,PF,-9.8000,-139.0333,76.41,76,30,19.98,light rain
10,10,Kapaa,US,22.0752,-159.3190,87.78,68,20,12.66,few clouds
17,17,Omboue,GA,-1.5746,9.2618,76.06,81,100,6.17,overcast clouds
19,19,Clinton,US,42.5870,-82.9199,78.82,58,75,14.97,broken clouds
23,23,Pacifica,US,37.6138,-122.4869,79.74,69,75,6.91,broken clouds
...,...,...,...,...,...,...,...,...,...,...
657,657,Majene,ID,-3.5403,118.9707,75.76,87,91,5.03,overcast clouds
658,658,Iralaya,HN,15.0000,-83.2333,84.04,71,42,7.76,scattered clouds
659,659,Luis Correia,BR,-2.8792,-41.6669,82.40,83,75,12.66,broken clouds
667,667,Ashland,US,40.8167,-82.2665,77.97,57,57,4.85,broken clouds
668,668,Aquiraz,BR,-3.9014,-38.3911,80.19,82,4,13.91,clear sky

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Atuona,PF,76.41,light rain,-9.8000,-139.0333,
10,Kapaa,US,87.78,few clouds,22.0752,-159.3190,
17,Omboue,GA,76.06,overcast clouds,-1.5746,9.2618,
19,Clinton,US,78.82,broken clouds,42.5870,-82.9199,
23,Pacifica,US,79.74,broken clouds,37.6138,-122.4869,
27,Hithadhoo,MV,81.34,clear sky,-0.6000,73.0833,
28,Hilo,US,85.28,few clouds,19.7297,-155.0900,
30,Kavieng,PG,82.49,overcast clouds,-2.5744,150.7967,
34,Matay,EG,78.22,clear sky,28.4190,30.7792,
35,Makakilo City,US,86.32,light intensity drizzle,21.3469,-158.0858,

In [10]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [28]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.dropna()

In [29]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [20]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Weather</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [21]:
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))