## Deliverable 3. Create a Travel Itinerary Map.

In [13]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy
# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [14]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,4,Atuona,PF,76.41,light rain,-9.8000,-139.0333,Hôtel Hiva Oa Hanakee Lodge
1,10,Kapaa,US,87.78,few clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
2,17,Omboue,GA,76.06,overcast clouds,-1.5746,9.2618,Hotel Olako
3,19,Clinton,US,78.82,broken clouds,42.5870,-82.9199,River's Edge
4,23,Pacifica,US,79.74,broken clouds,37.6138,-122.4869,"Pacifica Lighthouse, Trademark Collection by W..."

In [15]:
#Double checking for any NaN rows
vacation_df.count()

City_ID                210
City                   210
Country                210
Max Temp               210
Current Description    210
Lat                    210
Lng                    210
Hotel Name             197
dtype: int64

In [16]:
#Deleting Nan Rows
vacation_df = vacation_df.dropna()

In [17]:
vacation_df.count()

City_ID                197
City                   197
Country                197
Max Temp               197
Current Description    197
Lat                    197
Lng                    197
Hotel Name             197
dtype: int64

In [18]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Weather</dt><dd>{Current Description}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [19]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'] == 'Pacific Grove']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Pacific Grove']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Pacifica']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'San Ramon'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Laguna']

In [43]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()[0][5:7]
end = vacation_start.to_numpy()[0][5:7]
stop1 = vacation_stop1.to_numpy()[0][5:7]
stop2 = vacation_stop2.to_numpy()[0][5:7]
stop3 = vacation_stop3.to_numpy()[0][5:7]

In [44]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
Victoria_Yangjiang_Qingyuan_Haimen = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig.add_layer(Victoria_Yangjiang_Qingyuan_Haimen)
fig

Figure(layout=FigureLayout(height='420px'))

In [45]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,521,Pacific Grove,US,75.42,few clouds,36.6177,-121.9166,Lovers Point Inn
1,23,Pacifica,US,79.74,broken clouds,37.6138,-122.4869,"Pacifica Lighthouse, Trademark Collection by W..."
2,654,San Ramon,US,78.93,broken clouds,37.7799,-121.9780,San Ramon Marriott
3,638,Laguna,US,79.32,scattered clouds,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...

In [49]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Nearest Hotel</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Weather</dt><dd>{Current Description}</dd>
</dl>
"""
# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [50]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))